.SearchBarWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

.SearchBoxBackground {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
    overflow: hidden;
    z-index: -1;
}

.SearchBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SearchBarTitle {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 500;
}

.SearchBarDescription {
    color: #ffffff;
    font-size: 1rem;
}

.SearchInputBox {
    position: relative;
}

.SearchInput {
    margin-top: 10px;
    padding: 15px;

    width: 40vw;
    min-width: 400px;

    border: 0;
    border-radius: 10px;

    /* NOTE(hajae): 화면사이즈가 900px이 되면 input 크기는 400px로 고정하기 위해 */
    @media (max-width: 900px) {
        width: 400px;
    }
}

.SearchInput:focus {
    outline: none;
    padding: 13px;
    border: solid 2px #ffc3cd;
}

.SearchIcon {
    position: absolute;
    top: 16px;
    right: 10px;
}

.SearchIcon:hover {
    cursor: pointer;
}

.PhotoBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 16px;
    justify-content: center;

    margin: 20px 20vw;
}

.PhotoImageContainer {
    position: relative;
    width: 100%;
    padding-bottom: 110%;
    overflow: hidden;
}

.PhotoImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Bookmark {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
    z-index: 1;
}

.PhotoNotFound {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    left: 0;
    font-size: 2rem;
    color: #777777;
}